* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

header a.active {
  font-weight: bold;
}

main {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

.profile-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-section h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.profile-section h3 span {
  margin-right: 10px;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.input-group input:read-only {
  background-color: #f2f2f2;
}

.save-button, .reset-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.save-button:hover, .reset-button:hover {
  background-color: #555;
}

#sign-out-button {
  color: #fff;
  text-decoration: none;
  background-color: #d9534f;
  padding: 8px 16px;
  border-radius: 32px;
  transition: background-color 0.3s;
}

#sign-out-button:hover {
  background-color: #c9302c;
}
