* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

section {
  width: 100%;
  max-width: 600px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
}

.mobile-input {
  display: flex;
}

.mobile-input select {
  width: 30%;
  margin-right: 10px;
}

.mobile-input input {
  width: 70%;
}

/* Tab Styling */
.tab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab button {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}

.tab button.active {
  background-color: #333;
  color: #fff;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
